 <header class="main.nav">

        <div class="logo-box flex-item">
        <img class="section-item" src="img/logo.png" alt="Logo" title="tanner currie logo" width="100px" />
        </div>

   <ul>
                <li><a class= link href="#type" style>TYPE</a></li>
                <li><a class= link href="#text">TEXT & IMAGES</a></li>
                <li><a class= link href="#colours">COLOURS</a></li>
                <li><a class= link href="#links">LINKS</a></li>
                <li><a class= link href="#widgets">WIDGETS</a></li>
 

   </ul>
</nav>

</header>


